.AndroidStudio3.1/
.AndroidStudio3.2/
.CLion2017.3/
.CLion2018.1/
.CLion2018.2/
.ICEauthority
.IntelliJIdea2017.3/
.IntelliJIdea2018.1/
.IntelliJIdea2018.2/
.PyCharm2017.3/
.PyCharm2018.1/
.PyCharm2018.2/
.Rider2017.3/
.Xauthority
.Xresources
.android/
.bash_history
.bash_it/
.bash_logout
.bundle/
.cache/
.cargo/
.dmrc
.duply/
.eclipse/
.fonts/
.gem/
.ghc/
.gitconfig
.gnome/
.gnupg/
.gtkrc-2.0-gnome-color-chooser
.java/
.kde/
.lesshst
.local/
.macromedia/
.mozilla/
.multirust
.nbi/
.netbeans/
.npm/
.octave_hist
.p2/
.pam_environment
.pki/
.profile
.rustup/
.ssh/
.sudo_as_admin_successful
.swipl-dir-history/
.swt/
.synaptic/
.templateengine/
.thumbnails/
.tooling/
.vim/
.viminfo
.vscode/
.vsts/
.wget-hsts
.xinitrc
.xsession-errors
.xsession-errors.old
Android/
Documents
Downloads
Music
Pictures
Videos
core
gdrive.cache
snap/
