Code/
NuGet/
QtProject.conf
SASM Project/
Trolltech.conf
autostart/
chromium/
codeblocks/
compiz-1/
dconf/
dleyna-renderer-service.conf
dleyna-server-service.conf
enchant/
eog/
evolution/
fusuma/
gedit/
git/
gnome-control-center/
gnome-games/
gnome-initial-setup-done
goa-1.0/
google-chrome/
gpick/
gtk-2.0/
gtk-3.0/
gtk-4.0/
halite_visualizer/
htop/
ibus/
libaccounts-glib/
libreoffice/
menus/
mimeapps.list
monitors-v1-backup.xml
monitors.xml
monitors.xml~
nautilus/
nitrogen/
octave/
polybar/bspwm.sh
polybar/node_modules/
pulse/
sublime-text-3/
teamviewer/
totem/
ubuntu-tweak/
unity-monitors-v1-backup.xml
unity-monitors.xml
update-notifier/
user-dirs.dirs
user-dirs.locale
yelp/
